<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <style type="text/css">
    body {
        behavior: url('/csshoverIE6.htc');
    }
    </style>
    <title>eBay悠福网使用指南</title>
    <{css src="ebay/help.css" app="b2c"}>
    <style type="text/css">
        .useExCatelog .cate i {
            display: block;
            float: left;
            width: 19px;
            height: 19px;
            line-height: 19px;
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            background: url(<{$round}>) no-repeat;
            margin-top: 1px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="mainContant">
            <h2 class="useExTit">eBay悠福网使用指南</h2>
            <div class="useExCatelog">
                <p class="ptit">
                    <strong class="tit">目录</strong>
                </p>
                <p class="pcate cf">
                    <span class="cate">
                        <i>1</i>
                        <a title="" href="javascript:;">eBay悠福积分使用范围</a>
                        <img alt="" class="arw" src="<{$angel}>" height="14" width="7">
                    </span>
                    <span class="cate">
                        <i>2</i>
                        <a title="" href="javascript:;">悠福账号绑定流程</a>
                        <img alt="" class="arw" src="<{$angel}>">
                    </span>
                    <span class="cate">
                        <i>3</i>
                        <a title="" href="javascript:;">常用Q&amp;A</a>
                    </span>
                </p>
            </div>
            <div class="useExCateDl">
                <p class="uxMb25">
                    <a class="tit" name="useExCate_1" href="javascript:;">
                    <i>1，</i>eBay悠福积分使用范围</a>
                </p>
                <p>
                    <img width="921" height="438" alt="" src="<{$range}>">
                </p>
            </div>
            <div class="useExCateDl">
                <p class="uxMb25">
                    <a class="tit" name="useExCate_2" href="javascript:;"><i>2，</i>悠福账户绑定流程</a>
                </p>
                    <img src="<{$process}>" height="636" width="911" alt="">
                <p>
                </p>
            </div>
            <div class="useExCateDl">
                <p class="uxMb25">
                    <a class="tit" name="useExCate_3" href="javascript:;">
                <i>3，</i>常用Q&amp;A </a>
                </p>
                <div class="txtBg">
                    <p class="q"><i>Q</i>我想买商品A, 但我的eBay悠福福点不够怎么办？</p>
                    <p class="a cf"><i>A</i><span>在支付的时候，系统会提供支付宝支付选项。若用户未注意到福点账户余额时，系统将建议用户“优先使用福点”，不足部分使用支付宝支付。</span></p>
                </div>
                <div class="txtBg">
                    <p class="q"><i>Q</i>我在哪里可以查看我的消费明细？</p>
                    <p class="a cf"><i>A</i><span>个人首页左侧“我的账户->流水记录”查询并可查看相应的订单详情。</span></p>
                </div>
                <div class="txtBg">
                    <p class="q"><i>Q</i>我可以把多个eBay账户绑定在同一个账号上吗？</p>
                    <p class="a cf"><i>A</i><span>不可以。一个悠福账号只能绑定一个ebay账号。</span></p>
                </div>
                <div class="txtBg">
                    <p class="q"><i>Q</i>我可以退货吗？</p>
                    <p class="a cf"><i>A</i><span>实物商品只可以在未发货前申请退货，从个人首页->订单管理->售后服务中申请取消。 非实物类（虚拟商品）兑换品兑换成功后无法取消。</span></p>
                </div>
                <div class="txtBg">
                    <p class="q"><i>Q</i>订单取消后积分会再退给我吗？</p>
                    <p class="a cf"><i>A</i><span>兑换的礼品订单取消后，经人工审核后eBay悠福福点1-5个工作日内返还积分至您的账户； eBay悠福福点+现金7个工作日内返还，非实物类（虚拟商品）不退不换。若现金逾期未到账请致电客服4001962002转8或021-63879900转0反馈。</span></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>