<form method="POST" id='exchange_form' action="<{link app=sand ctl=admin_sandorder act=do_importRecharge}>" class="tableform"
enctype="multipart/form-data">
    <div class="division">
	<table>
		<tr>
			<th>选择文件:</th>
			<td>
				<input type="file"  name="sandRecharge" />
				<a target='_blank' href="index.php?app=sand&ctl=admin_sandorder&act=downRecharge">下载模板</a> 
			</td>
		</tr>
	</table>
    </div>
	
	
</form>
<div class="table-action">
	<{button label=$___cardcoupons="保存"|t:'cardcoupons' type="submit" id='exchange_form_submit' }>
</div>

<script>
    (function(){
        var _form = $('exchange_form');
        var btn =$('exchange_form_submit');
		_form.store('target',{
            onComplete:function(response){         
				var hash_res_obj = JSON.decode(response);
				if (hash_res_obj.success != undefined && hash_res_obj.success != ""){
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                    }
               }else{
                    //alert(hash_res_obj.error);
                }            
            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
               if (hash_res_obj.success != undefined && hash_res_obj.success != "")
              {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                    }
               }
               else
                {
                    //alert(hash_res_obj.error);
                }            
            }
        });
		
        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});
        });

    })();
</script>
