<div class="qiye_list">
                            		<div class="right_top">
                                    		<div class="r_tit">
                                            	 <div class="guanlibumen">
                                                    管理部门
                                                 </div>
                                            </div>
                                            <div class="create_de">
                                            		<div class="an_input">
                                                    	创建部门
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="right_selectbycon">
                                    		<div class="r_center">
                                            	<div class="suoshuqiye">
                                                	所属企业
                                                </div>
                                                <div class="suoshuqiye" style="width: 180px;margin-top: 35px;">
                                                	<select style="width: 180px;">
                                                    	<option>请选择</option>
                                                    </select>
                                                </div>
                                                <div class="suoshuqiye">
                                                	部门层级
                                                </div>
                                                 <div class="suoshuqiye" style="width: 100px;margin-top: 35px;">
                                                	<select style="width: 100px;">
                                                    	<option>请选择</option>
                                                    </select>
                                                </div>
                                                 <div class="suoshuqiye">
                                                	部门名称
                                                </div>
                                                 <div class="suoshuqiye">
                                                	<input type="text" style="border: 1px solid;width: 100px;"/>
                                                </div>
                                                 <div class="suoshuqiye">
                                                	上级部门
                                                </div>
                                                 <div class="suoshuqiye">
                                                 	<div class="findPar">
                                                        <input type="text" style="width: 97px;float:left"/>
                                                        <img src="resource/image/search.png" class="fangdajin"/>
                                                	</div>
                                                </div>
                                                <div class="suoshuqiye">
                                                	<input type="button" value="搜索" class="search_bott"/>
                                                </div>
                                            </div>   
                                    	</div>
                                        <div class="r_list">
                                        	<div class="show_total">
                                            	<div class="total">
                                                	每页显示 20 条，共<font style="color: #A02044;font-size: 16px;"> 4 </font>条
                                                </div>
                                            </div>
                                            <div class="show_list">
                                            	<div class="list_head">
                                                        <div class="head_font">
                                                            部门名称
                                                        </div>	
                                                        <div class="head_font">
                                                            浮点余额
                                                        </div>	
                                                        <div class="head_font" style="width: 22%;">
                                                            所属企业
                                                        </div>
                                                        <div class="head_font">
                                                            部门层级
                                                        </div>
                                                        <div class="head_font">
                                                            上级部门
                                                        </div>	
                                                        <div class="head_font">
                                                            操作
                                                        </div>	    
                                                </div>
                                                <div class="list_con">
                                                		<div class="head_font">
                                                        	市场部
                                                        </div>
                                                        <div class="head_font">
                                                        	800
                                                        </div>
                                                        <div class="head_font" style="width: 22%;">
                                                        	施贵宝中国上海有限公司
                                                        </div>
                                                        <div class="head_font">
                                                        	一级
                                                        </div>
                                                        <div class="head_font">
                                                        	--
                                                        </div>
                                                        <div class="head_font">
                                                        	<font class="edit">编辑</font>  <font class="edit">撤销</font>
                                                        </div>
                                                
                                                </div>
                                                
                                                 <div class="list_con">
                                                		<div class="head_font">
                                                        	市场部
                                                        </div>
                                                        <div class="head_font">
                                                        	800
                                                        </div>
                                                        <div class="head_font" style="width: 22%;">
                                                        	施贵宝中国上海有限公司
                                                        </div>
                                                        <div class="head_font">
                                                        	一级
                                                        </div>
                                                        <div class="head_font">
                                                        	--
                                                        </div>
                                                        <div class="head_font">
                                                        	<font class="edit">编辑</font> <font class="edit">撤销</font>
                                                        </div>
                                                
                                                </div>
                                            </div>
                                            <div class="show_fenye">
                                            		<div class="feny">
                                                    	 <a href=""> &lt; </a>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                            <a href="">6</a>
                            ...
                            <a href="">15</a>
                            <a href=""> &gt; </a>
                                                    </div>
                                            </div>
                                        </div>
                                   </div>