<{include file="site/member/header_iframe.html"}>
<body style="background-color:#ffffff;">
<{$data}>
<div class="qy_pop_main">
	<div class="qy_right">
		<div class="right_top">
        		<div class="anniu_list">
                	<a href='<{link app=qiyecenter ctl=site_member act=testRight}>'>未指定（95）</a>
                </div>
                <div class="anniu_list" style="background:#CCCCCC">
                	<a href="<{link app=qiyecenter ctl=site_member act=spcifyEmployees}>">已指定（5）</a>
                </div>
        </div>
        <div class="right_center1">
        	<div class="r1">
            	<div class="con">
                	姓名
                </div>
                <div class="con">
                	<input type="text" class="inp"/>
                </div>
                <div class="con">
                	性别
                </div>
                <div class="con">
                <input type="text" class="inp"/>
                </div>
                <div class="con">
                	证件号
                </div>
                <div class="con">
                	 <input type="text" class="inp"/>
                </div>
                <div class="con">
                	企业
                </div>
                <div class="con">
                	 <input type="text" class="inp"/>
                </div>
                <div class="con">
                	部门
                </div>
                <div class="con">
                 <input type="text" class="inp"/>
                </div>
                <div class="con">
                	部门层级
                </div>
                <div class="con">
                 <input type="text" class="inp"/>
                </div>
                <div class="con">
                职位
                </div>
                <div class="con">
                	<select>
                    	<option>请选择</option>
                    </select>
                </div>
            </div>
            <div class="r1">
                <div class="con">
                        姓名
                    </div>
                    <div class="con">
                        <input type="text" class="inp"/>
                    </div>
                    <div class="con">
                        性别
                    </div>
                    <div class="con">
                    <input type="text" class="inp"/>
                    </div>
                    <div class="con">
                        证件号
                    </div>
                    <div class="con">
                         <input type="text" class="inp"/>
                    </div>
                    <div class="con">
                        企业
                    </div>
                    <div class="con">
                         <input type="text" class="inp"/>
                    </div>
                    <div class="con">
                        部门
                    </div>
                    <div class="con">
                     <input type="text" class="inp"/>
                    </div>
                    <div class="con">
                        部门层级
                    </div>
                    <div class="con">
                     <input type="text" class="inp"/>
                    </div>
                    <div class="con">
                    职位
                    </div>
                    <div class="con">
                        <select>
                            <option>请选择</option>
                        </select>
                    </div>
          	  </div>
              <div class="show_list1">
                                            	<div class="list_head1">
                                                        <div class="head_font1">
                                                            部门名称
                                                        </div>	
                                                        <div class="head_font1">
                                                            浮点余额
                                                        </div>	
                                                        <div class="head_font1" style="width: 22%;">
                                                            所属企业
                                                        </div>
                                                        <div class="head_font1">
                                                            部门层级
                                                        </div>
                                                        <div class="head_font1">
                                                            上级部门
                                                        </div>	
                                                         
                                                </div>
                                                <div class="list_con1">
                                                		<div class="head_font1">
                                                        	市场部
                                                        </div>
                                                        <div class="head_font1">
                                                        	800
                                                        </div>
                                                        <div class="head_font1" style="width: 22%;">
                                                        	施贵宝中国上海有限公司
                                                        </div>
                                                        <div class="head_font1">
                                                        	一级
                                                        </div>
                                                        <div class="head_font1">
                                                        	--
                                                        </div>
                                                       
                                                
                                                </div>
                                                
                                                 <div class="list_con1">
                                                		<div class="head_font1">
                                                        	市场部
                                                        </div>
                                                        <div class="head_font1">
                                                        	800
                                                        </div>
                                                        <div class="head_font1" style="width: 22%;">
                                                        	施贵宝中国上海有限公司
                                                        </div>
                                                        <div class="head_font1">
                                                        	一级
                                                        </div>
                                                        <div class="head_font1">
                                                        	--
                                                        </div>
                                                       
                                                
                                                </div>
                                            </div>
        </div>
	</div>
	<div class="clear"></div>
</div>



<script type="text/javascript">

function tch2(){
	alert('tch2');
}

</script>

</body>