<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
            <i class="arr left"></i>
            返回
        </a>
        <div class="a-name">
            我的订单
        </div>
    </div>
    </header>
    <div class="full-padding">
        <ul class="mem-order-list">
            <{foreach from=$orders item=order name=orders key="key"}>
            <li class="mem-order-item">
            <div class="icon orange">
                <{if $order.refund_status ==0 || $order.refund_status ==2 || $order.refund_status ==4 || $order.refund_status ==10}>
                <{if $order.status == 'finish'}><p><{t}>已完成<{/t}></p>
                <{elseif $order.status == 'dead'}><p><{t}>交易关闭<{/t}></p>
                <{else}>
                <{if $order.pay_status==1}><{t}>已付款<{/t}>
                [<{if $order.ship_status==1}>
                <{t}> 已发货<{/t}>
                <{elseif $order.ship_status==2}>
                <{t}>部分发货<{/t}>
                <{elseif $order.ship_status==3}>
                <{t}>部分退货<{/t}>
                <{elseif $order.ship_status==4}>
                <{t}>已退货<{/t}>
                <{else}>
                <{t}>正在备货...<{/t}>
                <{/if}>]
                <{elseif $order.pay_status==2}>
                <{t}>已付款至担保方<{/t}>
                <{elseif $order.pay_status==3}>
                <{t}>待补款<{/t}>
                <{if $order.ship_status==1}>
                <{t}>[已发货]<{/t}>
                <{elseif $order.ship_status==2}>
                <{t}> [部分发货]<{/t}>
                <{elseif $order.ship_status==3}>
                <{t}>[部分退货]<{/t}>
                <{elseif $order.ship_status==4}>
                <{t}>[已退货]<{/t}>
                <{/if}>
                <{elseif $order.pay_status==4}>
                <{t}> 部分退款<{/t}>
                [<{if $order.ship_status==1}>
                <{t}>已发货<{/t}>
                <{elseif $order.ship_status==2}>
                <{t}>部分发货<{/t}>
                <{elseif $order.ship_status==3}>
                <{t}>部分退货<{/t}>
                <{elseif $order.ship_status==4}>
                <{t}>已退货<{/t}>
                <{elseif $order.ship_status==0}>
                <{t}>未发货<{/t}>
                <{/if}>]
                <{elseif $order.pay_status==5}>
                <{t}>已退款<{/t}>
                [<{if $order.ship_status==1}>
                <{t}>已发货<{/t}>
                <{elseif $order.ship_status==2}>
                <{t}>部分发货<{/t}>
                <{elseif $order.ship_status==3}>
                <{t}>部分退货<{/t}>
                <{elseif $order.ship_status==4}>
                <{t}> 已退货<{/t}>
                <{elseif $order.ship_status==0}>
                <{t}>未发货<{/t}>
                <{/if}>]
                <{else}>
                <{t}>待付款<{/t}></a> <{if $order.ship_status==1}>
                <{t}>[已发货]<{/t}>
                <{elseif $order.ship_status==2}>
                <{t}>[部分发货]<{/t}>
                <{elseif $order.ship_status==3}>
                <{t}>[部分退货]<{/t}>
                <{elseif $order.ship_status==4}>
                <{t}>[已退货]<{/t}>
                <{/if}>
                <{/if}>
                <{/if}>
                <{else}>
                <{if $order.refund_status ==1}>
                <{t}>退款申请中,等待卖家审核<{/t}>
                <{elseif $order.refund_status ==3}>
                <{t}>卖家同意退款,等待买家退货<{/t}>
                <{elseif $order.refund_status ==5}>
                <{t}>买家已退货,等待卖家确认收货<{/t}>
                <{elseif $order.refund_status ==6}>
                <{t}>卖家不同意协议,等待买家修改<{/t}>
                <{elseif $order.refund_status ==7}>
                <{t}>买家已退货,卖家不同意协议,等待买家修改<{/t}>
                <{elseif $order.refund_status ==8}>
                <{t}>平台介入,等待卖家举证<{/t}>
                <{elseif $order.refund_status ==9}>
                <{t}>平台介入,等待平台处理<{/t}>
                <{elseif $order.refund_status ==11}>
                <{t}>卖家同意退款,等待卖家打款至平台<{/t}>
                <{elseif $order.refund_status ==12}>
                <{t}>卖家已退款,等待系统结算<{/t}>
                <{/if}>
                <{/if}>
            </div>
            <div class="gb">
                <div class="col2">
                    <div class="col">
                        <div class="d-line">
                            <div class="l-k">订单号：</div>
                            <div class="l-v"><{$order.order_id}></div>
                        </div>
                        <div class="d-line">
                            <div class="l-k">应付金额：</div>
                            <div class="l-v">
                                <span class="price"><{$order.cur_amount|cur_odr:$order.currency:false:true}></span>
                            </div>
                        </div>
                        <div class="d-line">
                            <div class="l-k">支付方式：</div>
                            <div class="l-v">
                                <{$order.payinfo.pay_app_id|pay_name}>
                            </div>
                        </div>
                        <div class="d-line">
                            <div class="l-k">订单时间：</div>
                            <div class="l-v">
                                <{$order.createtime|cdate:FDATE_STIME}>
                            </div>
                        </div>
                    </div>
                    <div class="col d-line">
                        <div class="t-r">
                            <{if $order.status == 'active' && ($order.pay_status=='0' || $order.pay_status=='3')}>
                            <{if $order.payinfo.pay_app_id != '-1' && $order.is_pay==0 }>
                            <a href="<{link app=b2c ctl=wap_paycenter act=index arg0=$order.order_id}>" >
                                去付款
                                <i class="arr right"></i>
                            </a>
                            <{/if}>
                            <{if $order.payinfo.pay_app_id != '-1' && $order.is_pay==1 }>
                            <a href="javascript:void(0);" onclick="js_method()" style="color:#ccc;">
                                支付结果返回中
                                <!-- <i class="arr right"></i> -->
                            </a>
                            <{/if}>
                            <{/if}>
                        </div>
                        <div class="t-r">
                            <a href="<{link app=b2c ctl=wap_member act=orderdetail arg0=$order.order_id}>">
                            查看订单
                            <i class="arr right"></i>
                            </a>
                        </div>
                        <{if $order.status == 'active' && $order.pay_status == '0' && $order.ship_status == '0'  &&  $order.payinfo.pay_app_id != '-1'}>
                        <div class="t-r">
                            <a href="<{link app=b2c ctl=wap_member act=cancel arg0=$order.order_id}>">
                                关闭交易
                                <i class="arr right"></i>
                            </a>
                        </div>
                        <{/if}>
                        <{if ($order.ship_status == '1' || $order.ship_status == '3') && ($order.pay_status == '1' || $order.pay_status == '4')  && $order.status == 'active' && ($order.refund_status == '0' || $order.refund_status == '2' || $order.refund_status == '4' || $order.refund_status == '10')}>
                        <div class="t-r">
                            <a href="javascript:void(0);" onclick="return receive('<{$order.url}>')">
                                确认收货
                                <i class="arr right"></i>
                            </a>
                        </div>
                        <{/if}>

                        <{if $order.order_kind == 'jdorder' ||  $order.order_kind =='jdbook' }>
                            <{if ($order.ship_status == '1' || $order.ship_status == '3') && ($order.pay_status == '1' || $order.pay_status == '4') && $order.status == 'active' && ($order.refund_status == '0' || $order.refund_status == '2' || $order.refund_status == '4' || $order.refund_status == '10')}>
                            <div class="t-r">
                                <a href="<{link app=jdsale ctl=wap_aftersales act=index arg0=$order.order_id}>" >
                                    京东售后
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                            <{if $order.pay_status != '0' && $order.pay_status != '5' && $order.status == 'active' && $order.ship_status  == '0' &&  ($order.refund_status == '0' || $order.refund_status == '2' || $order.refund_status == '4' || $order.refund_status == '10')}>
                            <div class="t-r">
                                <a href="javascript:void(0);" onclick="return jd_refund('<{$order.order_id}>')" >
                                    申请退款
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                        <{else}>
                            <{if ($order.ship_status == '1' || $order.ship_status == '3') && ($order.pay_status == '1' || $order.pay_status == '4')  && $order.status == 'active' && ($order.refund_status == '0' || $order.refund_status == '2' || $order.refund_status == '4' || $order.refund_status == '10') && $order.is_extend == '0'}>
                            <div class="t-r">
                                <a href="javascript:void(0);" onclick="extend_finish_apl('<{$order.order_id}>')" >
                                    延长收货申请
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                            <{if  $order.pay_status != '0' && $order.pay_status != '5' && $order.status == 'active' && $order.ship_status  == '0' &&  ($order.refund_status == '0' || $order.refund_status == '2' || $order.refund_status == '4' || $order.refund_status == '10') && $order.order_kind == 'virtual'}>
                                <{if ($order.pay_time + $limittime) < $nowtime }>
                                <div class="t-r">
                                    <a href="javascript:void(0);" onclick="extend_finish_apl('<{$order.order_id}>')" >
                                        申请退款
                                        <i class="arr right"></i>
                                    </a>
                                </div>
                                <{/if}>
                                <{if $order.pay_status == '1'}>
                                    <div class="t-r">
                                        <a href="javascript:void(0);" onclick="ship_remind('<{$order.order_id}>')" >
                                            提醒卖家发货
                                            <i class="arr right"></i>
                                        </a>
                                    </div>
                                <{/if}>
                            <{/if}>
                            <{if $order.status == 'active' && ($order.ship_status == '1' || $order.ship_status == '3') && ($order.refund_status == '0' || $order.refund_status == '2' || $order.refund_status == '4' || $order.refund_status == '10') && $order.pay_status != '0' && $order.pay_status != '5' && $order.order_kind == 'virtual' }>
                            <div class="t-r">
                                <a href="<{link app=aftersales ctl=wap_member act=gorefund_select arg0=$order.order_id arg1='buyer'}>"  >
                                    退货/退款
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                            <{if $order.status == 'finish' && ($order.ship_status == '1' || $order.ship_status == '3') && ($order.refund_status == '0' || $order.refund_status == '2' || $order.refund_status == '4' || $order.refund_status == '10') && $order.pay_status != '0' && $order.pay_status != '5' && $order.order_kind == 'virtual' }>
                                <{if ($order.confirm_time + $safeguardtime) > $nowtime }>
                                <div class="t-r">
                                    <a href="<{link app=aftersales ctl=wap_member act=safeguard arg0=$order.order_id arg1='buyer'}>"  >
                                        申请维权
                                        <i class="arr right"></i>
                                    </a>
                                </div>
                                <{/if}>
                            <{/if}>

                            <{if $order.need_send == '1' && $order.refund_status == '3'}>
                            <div class="t-r">
                                <a href="<{link app=aftersales ctl=wap_member act=refund_add_buyer arg0=$order.order_id arg1='buyer'}>"  >
                                    填写退货信息
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                           <{if $order.refund_status == '7'}>
                            <div class="t-r">
                                <a href="<{link app=aftersales ctl=wap_member act=edit_refund_app arg0=$order.order_id arg1='buyer'}>"  >
                                    修改退货申请
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                            <{if $order.refund_status == '6' && ($order.need_edit == '1' || $order.status == 'finish')}>
                            <div class="t-r">
                                <a href="<{link app=aftersales ctl=wap_member act=edit_refund_2 arg0=$order.order_id arg1='buyer'}>"  >
                                    修改退货申请
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                            <{if $order.refund_status == '6' $order.need_send == '0' && $order.need_edit == '0' && $order.status == 'active'}>
                            <div class="t-r">
                                <a href="<{link app=aftersales ctl=wap_member act=edit_refund arg0=$order.order_id arg1='buyer'}>"  >
                                    修改退货申请
                                    <i class="arr right"></i>
                                </a>
                            </div>
                            <{/if}>
                        <{/if}>
                    </div>
                </div>
            </div>
            <ul class="mem-order-pt c-fix">
                <!-- goods -->
                <{if $order.goods_items}>
                    <{foreach from=$order.goods_items item=item_goods name=goods_item}>
                        <!-- goods -->
                        <{if $item_goods.product}>
                        <li class="mem-pt-item">
                            <a href='<{$item_goods.product.link_url}>' title="<{$item_goods.product.quantity}>--<{$item_goods.product.name}>">
                            <img src='<{$item_goods.product.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>' />
                            </a>
                            <i class="num"><{$item_goods.product.quantity}></i>
                        </li>
                        <{/if}>
                        <!-- adjunct -->
                        <{if $item_goods.adjunct_items}>
                            <{foreach from=$item_goods.adjunct_items item=item_adjunct name=adjunct_item}>
                            <li class="mem-pt-item">
                                <a href='<{$item_adjunct.link_url}>' title="<{$item_adjunct.quantity}>--<{$item_adjunct.name}>--配件">
                                <img src="<{$item_adjunct.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>"/>
                                </a>
                                <i class="num"><{$item_adjunct.quantity}></i>
                                <i class="icon red">配件</i>
                            </li>
                            <{/foreach}>
                        <{/if}>
                        <!-- gift -->
                        <{if $item_goods.gift_items}>
                            <{foreach from=$item_goods.gift_items item=item_gift name=gift_item}>
                            <li class="mem-pt-item">
                              <a href='<{$item_gift.link_url}>' title="<{$item_gift.quantity}>-- <{$item_gift.name}>--赠品">
                                <img src="<{$item_gift.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>"/>
                                </a>
                                <i class="num"><{$item_gift.quantity}></i>
                                <i class="icon red">赠品</i>
                            </li>
                            <{/foreach}>
                        <{/if}>
                    <{/foreach}>
                <{/if}>

                <!-- gift -->
                <{if $order.gift_items}>
                    <{foreach from=$order.gift_items item=item_gift name=gift_item}>
                    <li class="mem-pt-item">
                        <a href='<{$item_gift.link_url}>' title="<{$item_gift.quantity}>--<{$item_gift.name}>--赠">
                        <img src="<{$item_gift.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>"/>
                        </a>
                        <i class="num"><{$item_gift.quantity}></i>
                        <i class="icon red">赠品</i>
                     </li>
                    <{/foreach}>
                <{/if}>

                <!-- extends -->
                <{if $order.extends_items}>
                    <{foreach from=$order.extends_items item=item_extends name=item_extends}>
                        <{$item_extends}>
                    <{/foreach}>
                <{/if}>
            </ul>
            </li>
            <{/foreach}>
        </ul>
    </div>
</div>
<{wap_pagers data=$pager}>
<script>


function extend_finish_apl(orderid)
{
    if(confirm('确定要申请退款并取消订单吗？')) {
        var data = 'order_id=' + orderid;
        $.post('<{link app=b2c ctl=wap_member act=extend_finish_apl}>', data, function (re) {
            var o = JSON.parse(re);
            if (o.status == 'success') {
                msg = o.msg ? o.msg : '申请成功';
                popup(msg, 1000);
                setTimeout(function () {
                    location.reload(true)
                }, 2000);
            } else {
                msg = o.msg ? o.msg : '申请失败';
                popup(msg, 1000, "sm-pop");
            }
        });
    }
}



function ship_remind(orderid)
{
    if(confirm('卖家将会收到发货提醒，确定发送提醒吗？？'))
    {
        var data = 'order_id=' + orderid;
        $.post('<{link app=b2c ctl=wap_member act=ship_remind}>', data, function (re) {
            var o = JSON.parse(re);
            if (o.status == 'success') {
                msg = o.msg ? o.msg : '提醒成功';
                popup(msg, 1000);
                setTimeout(function () {
                    location.reload(true)
                }, 2000);
            } else {
                msg = o.msg ? o.msg : '提醒失败';
                popup(msg, 1000, "sm-pop");
            }
        });
    }
}

function jd_refund(orderid)
{
    if(confirm('确定要申请退款并取消订单吗？'))
    {
        var data = 'order_id=' + orderid;
        $.post('<{link app=b2c ctl=wap_member act=apply_refund}>', data, function (re) {
            var o = JSON.parse(re);
            if (o.status == 'success') {
                msg = o.msg ? o.msg : '申请成功';
                popup(msg, 1000);
                setTimeout(function () {
                    location.reload(true)
                }, 2000);
            } else {
                msg = o.msg ? o.msg : '申请失败';
                popup(msg, 1000, "sm-pop");
            }
        });
    }
}

function receive(url){
    var xmlHttp;
    try{
        xmlHttp=new XMLHttpRequest();        
    }catch(e){
        try{
            xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
        }catch(e){
            try{
                xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
            }catch(e){
                return false;
            }
        }
    }
    xmlHttp.open('post',url);
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            alert('已完成收货');
            location.reload();
        }
    }
        xmlHttp.send(null);
}

(function(){
	
	$('.action-refund-popup').bind('click',function(e){
		var order_id = this.getAttribute("order_id");
	    new Dialog('#member_refund_popup_'+order_id,{title: '退款申请'});
	});
	
	$('.submit_refund_button').bind('click',function(e){
		var order_id = this.getAttribute("order_id");
        var refund_apply_reason = $('#refund_apply_reason_'+order_id+' option:selected').val();
        var data = 'order_id='+order_id+'&refund_apply_reason='+refund_apply_reason;
        $.post('<{link app=b2c ctl=wap_member act=do_refund_apply}>',data,function(re){
            var o = JSON.parse(re);
            if(o.success){
            	$(".dialog").hide();
                new Dialog('#success',{type: 'confirm'});
                $('#success .checkout-success').html(o.suc_msg);
                setTimeout(function(){location.reload(true)},2000);
            }else{
                return alert(o.err_msg);
            }
        });
        return false;
    });
	
})();

</script>
