<table>
<tr class="row row-line">
		<th>名称</th>
		<th>价格</th>
		<th>库存</th>
</tr>
<{foreach from=$_input.items item=item key=key}>
<tr class="row row-line">
        <{assign var="id" value=$item[$_input.idcol]}>
		<input type="hidden" name="<{$_input.name}>[]" item_id="<{$item[$_input.idcol]}>" value="<{$item[$_input.idcol]}>" />
		<{foreach from=$_input._textcol item=_key}>
		<td style="text-align: left;"><{$item[$_key]|cut:120}></td>
		<{/foreach}>
</tr>
<{/foreach}>
</table>
<{if $_input.cardcoupons}>
    <div style="float:left;">
        <{t}>兑换模式：<{/t}>
        <select name="cards[change_mode]" class="x-input ">
            <option value="once" <{if $_input.change_mode == 'once'}>selected<{/if}> >一次性</option>
            <option value="many" <{if $_input.change_mode == 'many'}>selected<{/if}> >多种多套</option>
        </select>
    </div>
    <div style="float:left;">
        <{t}>兑换方式：<{/t}>
        <select name="cards[change_way]" class="x-input " onchange="changeway(this.value)">
            <option value="num" <{if $_input.change_way == 'num'}>selected<{/if}> >按数量设置</option>
            <option value="price" <{if $_input.change_way != 'num'}>selected<{/if}> >按价格设置</option>
        </select>
    </div>
    <{if $_input.change_way != 'num'}>
        <div class="span-auto row-h" id="changwagdiv">
            选择的商品价格总额为<span class="goods-count num" style="color:#c40001;font-weight:bold;"><{$_input.item_price}></span>元,请填写价格上限：
            <input type="hidden" name="cards[rules][snum]" value="<{$_input.item_price}>">
            <input autocomplete="off" class="x-input" type="text" value="<{$cards.rules}>" name="cards[rules][num]" required="required" vtype="required&&unsignedint"/><font color="red">*</font>
        </div>
    <{else}>
        <div class="span-auto row-h" id="changwagdiv">
            共选择了<span class="goods-count num" style="color:#c40001;font-weight:bold;"><{$_input.itemnums}></span>件,请选择上限数量：
            <input type="hidden" name="cards[rules][snum]" value="<{$_input.itemnums}>">
            <input autocomplete="off" class="x-input " type="text" value="<{$cards.rules}>" name="cards[rules][num]" required="required" vtype="required&&unsignedint"/><font color="red">*</font>
        </div>
    <{/if}>

<script type="text/javascript">
    function changeway(type){
        var changHTML = "";
        if(type != "num"){
            var goods_price = 0;
            $('card_goods').getElements('tr').each(function(item,index){
                if(index != 0){
                    goods_price = goods_price + parseInt(item.getElements('td')[1].getHTML());
                }

            });
            changHTML = '选择的商品价格总额为<span class="goods-count num" style="color:#c40001;font-weight:bold;">'+goods_price+'</span>元,请填写价格上限：</div><input type="hidden" name="cards[rules][snum]" value="'+goods_price+'"><input autocomplete="off" class="x-input" type="text" value="" name="cards[rules][num]" required="required" vtype="required&&unsignedint"><font color="red">*</font>';
        }else{
            var goods_num = 0;
            $('card_goods').getElements('tr').each(function(item,index){
                goods_num = goods_num + 1;
            });

            changHTML = '共选择了<span class="goods-count num" style="color:#c40001;font-weight:bold;">'+(goods_num-1)+'</span>件,请选择上限数量： </div> <input type="hidden" name="cards[rules][snum]" value="'+(goods_num-1)+'"> <input autocomplete="off" class="x-input " type="text" value="" name="cards[rules][num]" required="required" vtype="required&&unsignedint"/><font color="red">*</font>';
        }
        $('changwagdiv').setHTML(changHTML);
    }
</script>
<{/if}>