<form id="store_form" class="tableform" action="index.php?app=physical&ctl=admin_store&act=add_attach"  method="POST" >
    <input type="hidden" name="store_id" value="<{$store_id}>">
    <div class="division">
        <table width="100%" >
			<tr>
                <th><em class="red">*</em><{t}>关联门店：<{/t}></th>
                <td>
					<{input type="object_select" object="package@physical" multiple="true" rowselect="true" textcol="package_name"  name="package_ids" linkid=$package_info.linkid obj_name='package_info[info]' value=$package_info.info}>
				</td>
            </tr>
        </table>
    </div>

</form>

<{area inject='.mainFoot'}>
<div class="table-action"><{button type="submit"  label=$___physical="保存"|t:'physical' id='store_form_submit'}></div>
<{/area}>

<script>
    (function(){
        var _form = $('store_form');
        var btn =$('store_form_submit');
        var finder = finderGroup['<{$env.get._finder.finder_id}>'];

        _form.store('target',{
            onComplete:function(){

            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        finder.refresh.delay(400,finder);
                    }
                }
                else
                {
                    //alert(hash_res_obj.error);
                }
            }
        });

        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});



        });

    })();
</script>
